<!-- {% extends 'ice_cream/base.html' %}

{% block content %} -->

  <!-- <h1>{{ question.question_text }}</h1> -->

  <!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->
    <!-- {% for flavor in ice_cream.all %}
    <form action='{% url 'ice_cream:vote' question.id %}' method='post'>
    {% csrf_token %}

    <input type='type' name='flavor' id='flavor{{ forloop.counter }}' value='{{ flavor.id }}'>
    <button for='flavor{{forloop.counter}}'>{{ flavor.flavor_text }}</button>
    {% endfor %}

    </form>

{% endblock %} -->
