{% extends 'ice_cream/base.html' %}

{% block content %}
  <h2 class="text-primary">ICE CREAM SHOP</h2>
  <nav class="nav-bar"><u>
    <a href="{% url 'ice_cream:all' %}">All</a>
    <a href="{% url 'ice_cream:daily' %}">Daily</a>
    <a href="{% url 'ice_cream:weekly' %}">Weekly</a>
    <a href="{% url 'ice_cream:seasonal' %}">Seasonal</a>
    <a href="{% url 'ice_cream:featured' %}">Featured</a>
  </u></nav>
  {% for ice_cream in ice_cream_list %}
  <!-- <p>Yum! Ice Cream</p> -->
  <div class="container-fluid">
  <li>
    <p class="text-primary">{{ice_cream.flavor}}</p>
  <!-- <form action="{% url 'ice_cream:like' ice_cream.id %}" method="post"> -->
    <button type="button" name="button">Like me</button>
  <!-- </form> -->
  </li>
  </div>
  {% endfor %}
{% endblock content %}
